body{
    background-color: rgb(107, 41, 41);
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(240, 236, 236);
}
/* .card {
    margin: 5rem auto 1rem auto; 
    float: none;
   
} */

/* .gallery-img{
    max-height: 500px;
    width: auto;
} */

.sliderPic{
    display: flex;
    flex-direction: column;
}
.h2Text{
    margin-bottom: 2rem;
    font-weight: bold;
}